gevent==1.5.0
pudb==2019.2
pytest==5.4.1
six==1.14.0
click==7.1.1
toml==0.10.0
greenlet==0.4.15
eventlet==0.29.1
ipython==7.19.0
ox_profile==0.2.6
PyContracts==1.8.12
repr==0.3.1
Sphinx==3.0.2
coverage==5.3
flake8==3.7.9
python-dotenv>=0.5.1
nyaggle==0.1.4
mlflow==1.13.1
pytest-mock==3.4.0
hydra-core==1.0.5
